Repository deniskabana/code-demo-children-book: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --cache --fix, prettier --write --loglevel=silent, sort-package-json

Package upgrades
  package.json
  src/styles/colors.ts
  yarn.lock
Due: eslint --fix, stylelint --cache --fix, prettier --write --loglevel=silent, sort-package-json

Update ALL README files
  .eslintignore
  README.md
  src/api/README.md
  src/assets/README.md
  src/components/DarkModeToggle/DarkModeToggle.tsx
  src/components/README.md
  src/hooks/README.md
  src/languages/README.md
  src/modules/README.md
  src/modules/homepageDescription/HomepageDescription.tsx
  src/pages/README.md
  src/redux/README.md
  src/styles/README.md
  src/types/README.md
  src/utils/README.md
  src/utils/providers/MuiThemeProvider.tsx
  src/views/README.md
Due: eslint --fix, stylelint --cache --fix, prettier --write --loglevel=silent

Write all translations ahead of time
  package.json
  src/assets/Logo.svg
  src/components/DarkModeToggle/DarkModeToggle.tsx
  src/languages/index.ts
  src/languages/languages.ts
  src/languages/translations/homepage.ts
  src/languages/translations/index.ts
  src/languages/translations/storiesList.ts
  src/languages/translations/ui.ts
  src/modules/homepageDescription/HomepageDescription.tsx
  src/modules/homepageDescription/styles.ts
  src/pages/index.tsx
  src/styles/typography.ts
  src/views/homepage/HomePage.tsx
  src/views/homepage/styles.ts
  yarn.lock
Due: eslint --fix, stylelint --cache --fix, prettier --write --loglevel=silent, sort-package-json

UI prototype with copy and icons
  src/__tests__/TestAppProvider.tsx
  src/__tests__/fileMock.ts
  src/__tests__/homepage.test.tsx
  src/__tests__/svgMock.tsx
  src/assets/icons/group_add.svg
  src/languages/translations/ui.ts
  src/modules/storiesList/StoriesList.tsx
  src/pages/index.tsx
  src/views/StoriesList/StoriesList.view.tsx
Due: eslint --fix, stylelint --cache --fix

Pass with no unit tests
  package.json
Due: prettier --write --loglevel=silent, sort-package-json

Basic theming and typography setup
  public/app-background.jpg
  src/languages/translations/ui.ts
  src/styles/colors.ts
  src/styles/theme.tsx
  src/styles/typography.ts
  src/utils/providers/MuiThemeProvider.tsx
  src/views/StoriesList/StoriesList.view.tsx
Due: eslint --fix, stylelint --cache --fix

Actual header with actual styling
  src/components/common/SVGImage/SVGImage.styles.ts
  src/components/common/SVGImage/SVGImage.tsx
  src/components/storiesList/Header/Header.styles.ts
  src/components/storiesList/Header/Header.tsx
  src/modules/storiesList/StoriesList.tsx
Due: eslint --fix, stylelint --cache --fix

Wrap-up UI for stories list (not stories themselves)
  src/components/storiesList/ActionButtons/ActionsButtons.styles.ts
  src/components/storiesList/ActionButtons/ActionsButtons.tsx
  src/components/storiesList/ContentTabs/ContentTabs.styles.ts
  src/components/storiesList/ContentTabs/ContentTabs.tsx
  src/components/storiesList/Header/Header.styles.ts
  src/components/storiesList/Header/Header.tsx
  src/modules/storiesList/StoriesList.tsx
  src/styles/colors.ts
  src/styles/theme.tsx
  src/styles/typography.ts
Due: eslint --fix, stylelint --cache --fix

Wrap up everything i could
  .eslintignore
  public/mocks/story-1.webp
  public/mocks/story-3.webp
  public/mocks/story-4.webp
  public/mocks/story-5.webp
  public/mocks/story-6.webp
  public/mocks/story-pirate-1.webp
  public/mocks/story-pirate-2.webp
  public/mocks/story-pirate-3.webp
  public/mocks/story-pirate-4.webp
  src/api/constants.ts
  src/api/queryKeys.ts
  src/api/storiesApi.ts
  src/assets/icons/archive.svg
  src/assets/icons/book_read.svg
  src/components/storiesList/StoriesDisplay/StoriesDisplay.styles.ts
  src/components/storiesList/StoriesDisplay/StoriesDisplay.tsx
  src/components/storiesList/StoryCard/StoryCard.styles.ts
  src/components/storiesList/StoryCard/StoryCard.tsx
  src/components/storyDetail/StoryWrapper.styles.ts
  src/components/storyDetail/StoryWrapper.tsx
  src/mocks/storiesList.json
  src/modules/storiesList/StoriesList.tsx
  src/pages/_app.tsx
  src/pages/api/stories.ts
  src/styles/theme.tsx
  src/utils/providers/MuiThemeProvider.tsx
  src/utils/ssrSafeDocument.ts
Due: eslint --fix, stylelint --cache --fix, prettier --write --loglevel=silent

Path conditions:
  prettier --write: any of: **/*.${js,jsx,ts,tsx}
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  stylelint --cache --fix: any of: **/*.{css,scss,ts,tsx}
  prettier --write --loglevel=silent: any of: **/*.{json,md,html}
  sort-package-json: any of: **/package.json
